@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Check the weather in your city:</p>
    @await Component.InvokeAsync("Weather", new { city = "Odessa" })
</div>
